@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1440px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #FAB23C;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #201F1D;
    height: 600px;
}

.container .tabela {
    background-color: #201F1D;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container .tabela table tr th {
    font-size: 20px;
    background-color: #FAB23C;
    padding: 10px;
    font-weight: 700;
}

.container .tabela table tr td {
    background-color: white;
    padding: 10px;
}

.container .inputs {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .inputs h3 {
    color: #FAB23C;
    text-align: center;
    margin-bottom: 5px;
}

.container .inputs input[type="text"] {
    margin-bottom: 5px;
    outline: none;
    padding: 5px;
}

.container .inputs #btn {
    background-color: #FAB23C;
    border: none;
    color: #201F1D;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

#res {
    margin: 10px;
    height: 50px;
}

@media (max-width: 360px) {
    h1 {
        font-size: 25px;
        text-align: center;
    }
}